<div class="d-flex flex-column">
    <h3>{{recipe.name}}</h3>
    <img [src]="recipe.imagePath" alt="" class="img-fluid">
    <div class="btn-group btn-inline" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Add to cart</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
      <p>{{recipe.desc}}</p>
</div>
